.messagefield {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.messagefield--error {
	color: #D8000C;
	background-color: #FFBABA;
}

.markertext--hideonenter {
	display: none;
}